[Service]
# On PRi 2, get constant errors about CPU is missing core_throttle_count
# in /sys/devices/system/cpu/cpu*.
# This key is only available on systemd v253+ so is curretly ignored by
# systemd on Raspbian/Debian (bullseye and bookworm).
LogFilterPatterns=~core_throttle_count
