---
# These are placeholder values!
# See e.g. https://grafana.com/docs/grafana-cloud/authentication-and-permissions/access-policies/
# Copy this file to group_vars/all/grafana_secrets.yml and modify the values; using
# ansible-vault to encrypt the secrets file is recommended, in which case you may wish
# to remove it from group_vars/all/.gitignore.

# The policy for the loki access token requires the logs:write scope.
# The API user is shown under Basic Auth Details in the Settings panel under
#   Grafana > Connections > Data sources > grafanacloud-*-logs
grafana_loki_api_user: 123456
grafana_loki_api_key: glc_eyJvIjoiODY1ODA3IiwibiI6InRlc3RpbmctZGVsZXRlbWUiLCJrIjoiTzllNzFkaTc4ZnRtdjZVdFM4MUQ1QzJhIiwibSI6eyJyIjoicHJvZC1nYi1zb3V0aC0wIn19

# The policy for the prometheus access token requires the metrics:write scope.
# The API user is shown under Basic Auth Details in the Settings panel under
#   Grafana > Connections > Data sources > grafanacloud-*-prom
grafana_prometheus_api_user: 1234567
grafana_prometheus_api_key: glc_eyJvIjoiODY1ODA3IiwibiI6InRlc3RpbmctZGVsZXRlbWUiLCJrIjoiTzllNzFkaTc4ZnRtdjZVdFM4MUQ1QzJhIiwibSI6eyJyIjoicHJvZC1nYi1zb3V0aC0wIn19
